.TxtA{
    width: 50%;
    padding-left: 5%;
    min-height: calc(100svh - 76px) ;
    font-size: xx-large;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.observe{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter:blur(0);
    transform:translateX(0);
}
@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}